/* Color palette */
/* 
#000505
#3B3355
#5D5D81
#BFCDE0
#FEFCFD 
*/

/* BASE CODE */
html,
body {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000505;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#searchInput {
  width: 100%;
  background-color: #BFCDE0;
  height: 2em;
  margin: 1em 1em 0em 1em;
  font-size: 2em;
  text-align: center;
  border-radius: 1em;
}

#searchInput:hover {
  border-color: #5E9ED6;
}

#searchSuggestions {
  margin: 0em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#searchSuggestions > :first-child {
  border-radius: 1em 1em 0em 0em;
}

#searchSuggestions > :last-child {
  border-radius: 0em 0em 1em 1em;
}

#searchSuggestions > :only-child {
  border-radius: 1em 1em 1em 1em;
}

.searchSuggestion {
  background-color: #BFCDE0;
  font-size: 1.4em;
  text-align: center;
}

.searchSuggestion:hover {
  background-color: #5D5D81;
  cursor: pointer;
}

#pokemonCard {
  border: 4px solid #FFDE00;
  width: 340px;
  height: auto;
  aspect-ratio: 5 / 7;
  border-radius: 0.5em;
  display: flex;
  background-color: #3B3355;
  flex-direction: column;
  padding: 0.5em;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#hpSpan {
  font-size: 2em;
}

#spriteImg {
  width: 95%;
  align-self: center;
  border: 0.3em solid silver;
}

.abilityName, .abilityEffect {
  margin-block-start: 0%;
  margin-block-end: 0%;
}

#abilitiesList > .abilityName {
  justify-self: center;
}

.abilityEffect {
  text-align: justify;
}