/* Color palette */
/* 
#000505
#3B3355
#5D5D81
#BFCDE0
#FEFCFD 
*/

/* BASE CODE */
html,
body {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000505;
  color: #5D5D81;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}